<%= render 'shared/navbar' %>
<div class='container mt-4'>
<h1>Add a new bookmark!</h1>
<%= simple_form_for [@list, @bookmark] do |f| %>
  <%= f.association :movie %>
  <%= f.input :comment %>
  <%= f.submit 'Add Bookmark', class: 'btn btn-primary'%>
<% end %>
</div>
